
%active 
  position: relative
  color: $black
  &::after 
    position: absolute
    content: " "
    width: 14px
    height: 2px
    bottom: 0
    left: 0
    background: $black

%lang-line
  &::after
    content: ""
    width: 14px
    height: 2px
    flex-grow: 0
    background-color: $black
    position: absolute
    left: 0

%main-grid
  display: grid
  grid-template-columns: minmax(5px,504px) 1110px minmax(5px,504px)
  justify-content: center
%grid-12
  display: grid
  grid-template-columns: repeat(12,65px)
  grid-column-gap: 30px
  align-items: center






