//@include font (35px,light,red)
//@extend %btn

//@font-face 
//  font-family: OrelegaOne
//  src: url("../fonts/OrelegaOne-Regular.ttf")
//

@import "colors"
@import "fonts"
@import "extends"
@import "vars"
@import "base"
@import "classes"


.wrapper
  display: grid
  grid-template-columns: minmax(15px, 405px) auto minmax(15px, 405px)
  grid-template-rows: auto auto auto
  header
    grid-column: 1/4
    grid-row: 1
    box-shadow: 2px 4px 6px 0 $heade-shadow
    background-color: $header
    min-height: 90px
    .header
      display: grid
      grid-template-columns:  minmax(15px, 405px) 106px minmax(36px,84px) 360px minmax(36px,115px) 124px minmax(26px,83.4px) 237.6px minmax(15px, 405px)
      grid-template-rows: auto auto
      justify-items: start
      min-height: 90px
      .lang-switch-container
        grid-column: 8
        grid-row: 1
        justify-self: end
        height: 25px
        a
          @include Nav-above-font
          &:hover
            @extend %active
          &.active
            @extend %active
      .logo-container
        grid-column: 2
        grid-row: 2
        margin-top: 6px
        justify-content: center
        display: flex
        .logo
          width: 19.9px
          height: 33.4px
          background: url("../../img/header-logo.svg") no-repeat center
        .logo-name
          margin-left: 10.6px
          height: 38px
          width: 75.5px
          background: url("../../img/header-logo-name.svg") no-repeat center
      .search-container
        grid-column: 4
        grid-row: 2
        height: 44px
        width: 360px
        background-color: #ececec
        display: flex
        justify-content: space-between
        align-items: center
        @include Search-font
        border: none
        .search
          width: 100%
          height: inherit
          margin-left: 23.3px
          background-color: #ececec
        .search-icon
          width: 44px
          height: 44px
          background: url(../../img/header-search.svg) no-repeat 50% 50%
          background-color: $bright-yellow
      .load-song
        grid-column: 6
        grid-row: 2
        height: 25px
        margin-top: 12.5px
        @include But-menu-1-font
        &:hover
          cursor: pointer
      .btn-menu
        grid-column: 8
        grid-row: 2
        display: flex
        margin-top: 5px
        .btn-enter
          width: 86px
          height: 40px
          border: solid 2px $black
          @include But-menu-1-font
          &:hover
            @include But-menu-2-font
            background-color: $black

        .btn-register
          width: 140px
          height: 40px
          margin-left: 11.6px
          background-color: $black
          @include But-menu-2-font
          &:hover
            @include But-menu-1-font
            background-color: initial
  main
    grid-column: 2
    grid-row: 2
    display: grid
    grid-template-columns: auto
    .grid-row
      display: grid
      grid-template-columns: 350px minmax(30px, auto) 350px minmax(30px, auto) 350px
      grid-template-rows: 1fr
      margin-top: 80px
      .container
        display: grid
        grid-template-rows: auto minmax(auto, 246px ) 45px
        width: 350px
        .row-description
          rid-row: 1
          display: flex
          .line
            grid-row: 1
            width: 40px
            height: 2px
            margin: 0 30px
            align-self: center
            background-color: #000000
          span
            width: 57px
            height: 43px
            @include Head-section-font
      .photo-1
        background: url("../../img/1.png")
      .photo-2
        background: url("../../img/2.png")
      .photo-3
        background: url("../../img/3.png")
      .photo-4
        background: url("../../img/4.png")
      .photo-5
        background: url("../../img/5.png")
      .photo-6
        background: url("../../img/6.png")
      &:nth-of-type(1)
        grid-column: 1
      &:nth-of-type(2)
        grid-column: 3
      &:nth-of-type(3)
        grid-column: 5
        position: relative
        &:hover
          transition: all 600ms linear
          &:after
            position: absolute
            content: ""
            width: 60px
            height: 60px
            background: url("../../img/main-right-play-icon.jpg") no-repeat 23px
            background-color: black
            left: 305px
            top: 186px
            object-fit: contain
      .photo
        position: relative
        display: flex
        justify-content: center
        align-items: center
        &:hover
          box-shadow: 4px 8px 16px 0 rgba(99, 99, 99, 0.6)
          &::after
            position: absolute
            content: ""
            width: 64px
            height: 64px
            object-fit: contain
            background: url("../../img/main-central-play-icon.jpg") no-repeat center center
            background-color: $bright-yellow
            border-radius: 50%
      grid-row: 2
      .song-info
        grid-row: 3
        margin-top: 20px
        width: 150px
        display: block
        .song-name
          @include Cont-head-font
        .author-name
          @include Cont-cnontent-font
  .footer-interface
    background-color: $footer
    grid-column: 1/4
    grid-row: 3
    height: 160px
    margin-top: 100px
  footer
    grid-row: 3
    grid-column: 2
    display: grid
    grid-template-columns: auto 142px auto
    margin-top: 100px
    align-items: center
    .footer-logo-container
      grid-column: 1
      display: flex
      .footer-logo
        width: 17.7px
        height: 33.4px
        background: url("../../img/header-logo.svg") no-repeat 50%
        background-size: cover
      .footer-logo-name
        margin-left: 11px
        width: 71.2px
        height: 38px
        background: url("../../img/footer-logo-name.svg") no-repeat 50%
        background-size: cover
    .footer-social-items
      grid-column: 2
      display: flex
      justify-content: space-between
      .footer-social-fb
        width: 20px
        height: 20px
        background: url("../../img/footer-icon-fb.svg") no-repeat 50%
      .footer-social-tw
        width: 20px
        height: 20px
        background: url("../../img/footer-icon-tw.svg") no-repeat 50%
      .footer-social-ln
        width: 20px
        height: 20px
        background: url("../../img/footer-icon-ln.svg") no-repeat 50%
    > a
      grid-column: 3
      width: 216px
      height: 25px
      justify-self: end
      @include Fotter-font
@import "media"







